
@{
    ViewBag.Title = "Index";
}

<table style="width:98%;">
    <tr>
        <td align="center">

            <div class="content_area_round_border">

                <div class="page_header_content_area" style="width:500px;">

                    <h3>Amazon Alexa Skill .NET Solution</h3>



                </div>


                <br />


                <div class="page_content_area">
                    <br />
                    <br />

                    <p style="text-align:left;text-indent:2%">

                        <strong>Monaco Software Solutions </strong>has now created an <strong>Amazon Alexa Skill Microsoft .NET Software Solution </strong>which can control and monitor both software and hardware on your local or remote Windows PC or Server from any Alexa powered device like an Echo,  Echo Dot, or Amazon Tap.&nbsp;
                        This Microsoft .NET solution is extremely easy to revise, build, install, and configure and will have you quickly developing your next Alexa Skill in a fraction of the time it would take to research, design, and develop from scratch.&nbsp;
                        The Microsoft Visual Studio 2012 .NET Solution contains all the required components and real world configuration and setup documentation as well.&nbsp;
                        Why bother spending precious time piecing together technical information from various blogs, forums, Amazon API References, and online tutorials which more then often only cover partial snippets of all the required details needed to develope and configure a fully operational MS .NET Alexa Skill.&nbsp;
                        When you purchase this MS .NET software solution you have a fully funcitonal Alexa Skill which can control Apple iTunes on your Windows PC from any Alexa enabled device.&nbsp;
                        If you need to control or monitor any other software or hardware systems on a local or remote computer all you need is an Application Program Interface (API) that can be exposed to MS .NET such as COM interfaces, Windows DLLs, .NET assemblies, .NET Remoting Components, Windows Communication Foundation Components, REST Sevices, SOAP Services etc.&nbsp;
                        From there your only concern is integrating these APIs to this existing solution and connecting them to Alexa Skill Intents; all other underlying details of Alexa Skill development are already completed for you.&nbsp;
                    </p>
                    <p style="text-align:left;text-indent:2%">
                        Product to market as quick as possible is the key and this solution will increase your productivity and save hours of development time and resources.&nbsp;
                        Please see Media | Videos for a YouTube video demonstrating the use of this software solution to create an Alexa Skill for controlling iTunes on your Windows PC.&nbsp;
                        If you're a company or developer that wants to develop an Alexa Skill with the power to control Windows PCs or Servers with minimal development time and overhead this .NET solution is for you.&nbsp;
                        Use the contact page to inquire on software solution source code&nbsp;and consultation services pricing.
                    </p><br /><br /><div style="text-align:center;"><img src="~/images/SitePhotos/amazon-echo-family.jpg" title="Amazon Alex Devices" /></div><br />



                    <br />
                    <br />
                    <br />



                    <p style="text-align:left;text-indent:2%">
                        To summarize here are some of the features that this Amazon Alexa Skill .NET software solution can provide you:
                        <ul style="text-align:left;">
                            <li>Quickly and efficiently implement your own Amazon Alexa Skill product with the option to utlize the PC/Server contol and monitoring features if needed.</li>
                            <li>This Alexa Skill .NET solution uses Implicit Grant Account Linking for secure access; all authorization logic including the authorization page are completely implemented for you in a ASP.NET MVC Web application.</li>
                            <li>Visual Studio 2012 .NET Solution which contains all of the necessary projects and .NET code base.</li>
                            <li>Solution requires no other 3rd Party Software Packages or Cloud Services for PC/Server control and monitoring; just existing API which can be invoked via .NET.</li>
                            <li>Solution without revision is a PC/Server software controller interfacing to Apple iTunes.</li>
                            <li>Knowledgeable developer with over 20 years of software design and analysis at your disposal. Feel free to inform Monaco Software Solutions of what type of Windows PC or Server control or monitoring solution you're interested in and we can more then likely help you design and develope it.</li>
                        </ul>

                    </p>

                </div>

                <br />
                <br />
                <br />

            </div>



        </td>
    </tr>
</table>


