<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EastCoastReflectorDAO.Properties.Settings.monacos_usConnectionString"
            connectionString="Data Source=LOCALHOST\orlanmon;Initial Catalog=monacos.us;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SiteDAO.Properties.Settings.EastCoastReflectorConnectionString"
            connectionString="Data Source=LOCALHOST\ORLANMON;Initial Catalog=EastCoastReflector;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SiteDAO.Properties.Settings.monacos_usConnectionString"
            connectionString="Data Source=LOCALHOST\orlanmon;Initial Catalog=monacos.us;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SiteDAO.Properties.Settings.monacos_usConnectionString1"
            connectionString="Data Source=LOCALHOST\orlanmon;Initial Catalog=monacos.us;User ID=sa;Password=Genesis19682"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>