<div id="contact_dlg_one" name="contact_dlg_one" style="visibility:hidden" >

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Contact - Monaco Software Solutions</h4>

            </div>
            <div class="modal-body">
                <form id="contact_dlg_one_form" ng-submit="ContactDialogOne_Next()">
                    <div class="form-horizontal">
                        <h5>Enter Contact Information Below</h5>
                        <hr />

                        <div class="form-group">
                            <div class="control-label col-md-2">First Name</div>
                            <div class="col-md-9">

                                <input id="first_name_input" name="first_name_input" class="form-control" ng-model="ContactData.first_name" required />
                                <span ng-show="contact_dlg_one_form.first_name_input.$touched && contact_dlg_one_form.first_name_input.$invalid">First Name is required.</span>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">Last Name</div>

                            <div class="col-md-9">

                                <input id="last_name_input" name="last_name_input" class="form-control" ng-model="ContactData.last_name" required />
                                <span ng-show="contact_dlg_one_form.last_name_input.$touched && contact_dlg_one_form.last_name_input.$invalid">Last Name is required.</span>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">Email</div>
                            <div class="col-md-9">

                                <input id="email_input" name="email_input" class="form-control" ng-model="ContactData.email" required />
                                <span ng-show="contact_dlg_one_form.email_input_input.$touched && contact_dlg_one_form.email_input.$invalid">Email is required.</span>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="submit" value="Next" class="btn btn-default btn-success" id="btnSubmitNext"   ng-disabled="contact_dlg_one_form.$invalid"  />
                                <input type="submit" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                            </div>


                        </div>


                    </div>
                </form>
            </div>

        </div>

    </div>

</div>
