
<div id="contact_dlg_three" name="contact_dlg_three" style="visibility:hidden">


    <div class="modal-dialog" ng-init="ContactDialogThree_Load()">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Contact - Monaco Software Solutions</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <h5>Contact Request Submitted! We will get back to you shortly.  Thank You </h5>
                    <hr />
                </div>
            </div>
        </div>

    </div>
    </div>

