
@{
    ViewBag.Title = "Index";
}

<table style="width:98%;">
    <tr>
        <td align="center">

            <div class="content_area_round_border">

                <div class="page_header_content_area" style="width:500px;">

                    <h3>About - Web Site</h3>

                </div>


                <br />


                <div class="page_content_area">
                   
                    <p style="text-align:left;text-indent:2%">

                        Welcome to Monaco Software Solutions Web Site.&nbsp;&nbsp;&nbsp;This site is intended to be the home for Monaco Software Solutions on the Web but also a sandbox if you will for testing and playing with new software development tools and technologies most of which are in the Microsoft Software Stack.&nbsp;&nbsp;&nbsp;
                        This site was predominantly written in ASP.NET MVC 5.0, C#, AngularJS, and some JQuery as well and can be used as a fully functioning template for building any database driven ASP.NET MVC Web application for business use.&nbsp;&nbsp;&nbsp;
                        Here is a quick summary of some of the features of this Web site/application:
                        <ul style="text-align:left;">

                            <li>SQL Server Database backend.</li>
                            <li>Database driven User Authentication and Role based security.</li>
                            <li>Database driven Menu system using Role based security.</li>
                            <li>Database driven content management.</li>
                            <li>Home Automation Interface using Windows Communication Foundation.</li>

                        </ul>
                        </p>
                   
                    <br />
                  
                    <p style="text-align:left;text-indent:2%">
                        Also here are some the tools and technologies used to create this ASP.NET MVC Web application:
                        <ul style="text-align:left;">

                            <li>Visual Studio 2015</li>
                            <li>MS.NET C#</li>
                            <li>Microsoft ASP.NET MVC 5.0</li>
                            <li>SQL Server 2008</li>
                            <li>Microsoft Entity Framework</li>
                            <li>Javascript</li>
                            <li>AngularJS</li>
                            <li>Gulp Task Manager for Javascript optimization</li>
                            <li>XSLT for XML transformations</li>
                            <li>Windows Communication Foundation</li>
                            <li>Automapper</li>
                            <li>JSON</li>
                            <li>XML</li>
                            <li>JQuery</li>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            <li>Kendo UI</li>

                        </ul>

                    </p>

                </div>

                <br />
                <br />
                <br />

            </div>



        </td>
    </tr>
</table>

