
@{
    ViewBag.Title = "Index";
}


<table style="width:98%;">
    <tr>
        <td align="center">

            <div class="content_area_round_border">

                <div class="page_header_content_area" style="width:500px;">

                    <h3>About - Monaco Software Solutions</h3>


                </div>

                <br />


                <div class="page_content_area">


                    <p style="text-align:left;">

                        Monaco Software Solutions software development experience spans well over 20 years in varied businesses and utilizing a number of different tools, technologies, and platforms.&nbsp;&nbsp;&nbsp;
                        Tools, technologies, and languages that have currently been implemented in solutions includes Visual Studio 2017, ASP.NET Web Forms, ASP.NET MVC 5, Javascript, AngularJS, JQuery, Bootstrap, JSON, .NET Window Forms, ASP.NET Web Services, ASP.NET CORE Web Service, RESTful Web Services, .NET Windows Communication Foundation, Microsoft Azure, C#, C++, C, and Java.&nbsp;&nbsp;&nbsp;
                        Additional areas of software development expertise include XML, XSLT, SQL Server 2008, T-SQL, Crystal Reports, Crystal Reports Server 2008, MS SQL Reporting Services 2008, and .NET Micro Framework.&nbsp;&nbsp;&nbsp;

                    </p>


                </div>

        </td>
    </tr>
</table>

